

/* BLOG-CARD-AREA */

.card-body{
   background-color: #172A45 !important;   
}
.card-title{
   font-size: 14px !important;
}
.card-text{
   font-size: 11px !important;
}
.card-footer{
   background-color: #172A45 !important;
}



