.blog-card{
   box-shadow: 5px 5px 10px rgb(100, 91, 185);
}
.blog-bottom{
   border-top: 1px solid rgb(39, 106, 126);
}
.blog-body{
   background-color: rgb(23, 22, 51);
}
.card-border{
   box-shadow: 5px 5px 5px rgb(54, 33, 112);
}

.blog-btn{ 
   margin-top: 35px;
   height: 32px;
   width: 90px;
   background: rgb(23, 22, 51);
   color: #64FFDA;
   font-size: 14px;
   font-weight: 500;
   outline: none;
   border-radius: 5px;
   border: 2px solid #64FFDA;
   transition: 2s;
}
.blog-btn:hover{
   
   background-color: green;
   color: white;
   border: 2px solid green;
   
}