.section-title {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    -webkit-column-gap: 30px;
    column-gap: 30px;
}

.details-link {
    z-index: 100;
    background: #0a192f;
}
.details-link:before {
    z-index: -1;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #303c55;
    position: relative;
    right: 0;
    top: 15px;
}

.project-featured{
    margin-bottom: 60px;
}
.project-featured .project-img {
    display: block;
    position: relative;
    transition: all .25s cubic-bezier(.645,.045,.355,1) 0s;;
}
.project-featured  .project-img:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #0a192f;
    mix-blend-mode: screen;
}

.project-featured  .project-info{
    margin-left: -50px;
    z-index: 1;
}
.img{
    width: 100%;
}
/* .small{
    font-size: 80%;
    font-weight: 400;
} */
.list-inline{
    padding-left: 0;
    list-style: none;
}

.technology{
    display: flex;
    flex-wrap: wrap;
}
.technology span{
    background: #4b5769;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 3px;
    padding: 3px 10px;
    font-size: 13px;
    height: 26px;
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
.list-inline-item {
    display: inline-block;
}
.works-text{
    color: #64FFDA;
}
.work-btn{ 
    margin-top: 35px;
    height: 32px;
    width: 90px;
    background: rgb(23, 22, 51);
    color: #64FFDA;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    border-radius: 5px;
    border: 2px solid #64FFDA;
    transition: 2s;
}
.work-btn:hover{
    
    background-color: green;
    color: white;
    border: 2px solid green;
    
}




