
/* Project-1st-Card */
.project-featured .project-img {
    display: block;
    position: relative;
    transition: all .25s cubic-bezier(.645,.045,.355,1) 0s;;
}
.project-featured .project-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #0a192f;
    mix-blend-mode: screen;
}

/* Project-2nd-Card */
.project-info{
    background-color: rgb(23,42,69);
}
 .project-featured .project-info {
    margin-left: -50px;
    z-index: 1;
  } 

.small{
    font-size: 13px !important;
    font-weight: 400;
    color:#0adba7;
}

/* Icons */
.project-icon{
    margin-right: 20px;
    font-size: 20px;
    color:#0db8ec ;
    transition: 2s;
    cursor: pointer;
}
.project-icon:hover{
    color:#f00a98 ;
    transform: scale(1.2);
}

/* swiper */
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }


/* Responsive-Media-Query */
@media(max-width: 768px){
  .project-featured 
  .project-info{
      margin-left: 0px;
  }
}


