
/* HERO-AREA */
.hero-text small {
    color: #5EF1CF;
    font-size: 16px;
}

.hero-about{
    font-size: 14px;
}


.resume-btn{ 
    background: #0A192F;
    color: green ;
}
.resume-btn:hover{
    background-color: green;
    color: white;
}
.about-btn{ 
    background: green;
    color: white ;
}
.about-btn:hover{
    background-color: green;
}


/* SOCIAL-ICON-AREA */
.social-icon{
    margin-right: 20px;
    color: #0db8ec ;
    transition:2s;
    cursor: pointer;
    font-size: 25px;
}
.social-icon:hover{
    color:#f00a98 !important;
    transform: scale(1.5);
}

/* TYPEwRITE-ANIMATION-AREA */
.typeWrite{
    color: #5EF1CF;
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    font-family: monospace;
}
  
  
  