
.nav-list{
    line-height: 40px;
    text-align: center !important;
}
.nav-menu{
    font-size: 13px;
    font-weight: 600;
    color: white ;
    cursor: pointer;
    text-decoration: none;
    transition: 2s;
}
.nav-menu:hover{
    color:rgb(240, 12, 118)!important;
    text-decoration: overline;   
}
.color{
    color: white !important;
}
.navbar-toggler
{
  background-color: #64FFDA! important;
  font-size: 10px !important;
}