.nav-list{
    line-height: 50px;
}
.nav-menu{
    font-size: 13px;
    font-weight: 600;
    color: white ;
    cursor: pointer;
    text-decoration: none;
    transition: 2s;
}
.nav-menu:hover{
    color: green;
    text-decoration: overline;   
}
.collapsed{
    color: white;
}
