
/* bg-color-area */
.footer{
    background-color: #0A192F;
    height: 120px;
}
/* git-link-area */
.link-git{
    transition: ease-in-out 1.5s;
    font-size: 14px;
    color: #61dafb;
}

/* SOCIAL-ICON-AREA */
.footer-icon{
    margin-right: 23px;
    color: #f00a98 ;
    transition:2s;
    cursor: pointer;
    font-size: 30px;
}
.footer-icon:hover{
    color: #0db8ec !important;
    transform: scale(1.5);
}



/* side-social-icon-area */
/* .a-social-bar{
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
.a-social-bar a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
}
.social-A-icon{
    margin-right: 20px;
    color: #d82f97 ;
    transition:2s;
    cursor: pointer;
}
.social-A-icon:hover{
    color:#0db8ec ;
    transform: scale(2);
} */