
/* body-bg */
.main-background{
  background-color: #0A192F;
  height: 100%;
  
}

/* COMMON-BTN-AREA */
.btn-common{
  height: 32px;
  width: 90px;
  font-size: 14px;
  font-weight: 0px;
  outline: none;
  border-radius: 5px;
  border: 1px solid green;
  transition: 2s;
}

.btn-common-2{ 
  margin-top: 35px;
  background: #0A192F;
  color: #64FFDA;
  border: 1px solid #64FFDA;
}

.btn-common-2:hover{
  background-color: green;
  color: white;
  border: 1px solid green;  
}

/* Custom-Area */
.card-hover-custom
{
  transition: all 1.5s ease! important;
}
.card-hover-custom:hover
{
  text-shadow: none !important;
  box-sizing: border-box !important;
  cursor: pointer !important;
  -webkit-transform: scale(1.1) !important;
  -ms-transform: scale(1.1)!important;
  transform: scale(1.1) !important;
  z-index: 2;
}

.inner
{
  overflow: hidden;
}
.inner img
{
  transition: all 3.9s ease;
}
.inner img:hover
{
  transform: scale(1.5); 
}

/* SECTION-TITLE-AREA */
.section-header-underline::after{
  content: "";
  width: 115px;
  height: 2px;
  display: block;
  margin-top: 7px;
  background-color: #64FFDA;
}
.title-text {
  color: #64FFDA;
}

/* technology-Span-Style */
.technology span{
  background: #4b5769;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 13px;
  height: 26px;
}




 /* swiperJs-Customize 
.swiper {
  width: 100%;
  height: 100%;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  font-size: 18px;
  background: #fff;

 Center slide text vertically 
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-navigation 
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(22, 230, 108, 0.3);
  padding: 25px;
  border-radius: 6px;
  font-weight: 600;
  color: white !important;
  fill: white !important;
  stroke: white !important;
}

.swiper-pagination {
  
  bottom: -10px !important;
  color: solid black;
  background-color: black;
  height: 20px;
  
}

 Swiper-pagination 
.swiper-pagination-bullet{
background-color: darkorange;
}
.swiper-pagination-bullet-active {
    
  background-color: rgb(255, 0, 43);
  color: rgb(136, 255, 0);
} */


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
