
/* bg-area */
.about-background{
  background-color: #0A192F;
  height: 100%;
}

/* title */
.head-text{
  color: rgb(17, 218, 233); 
}

.page-title:after {
  content: "";
  width: 74px;
  height: 2px;
  display: block;
  margin-top: 7px;
  background-color: #64ffda;
}

/* technology-area */
.technology {
  display: flex;
  flex-wrap: wrap;
}
.technology span{
  color: white;
  font-size: 14px;
}